%div#popup
    %p Enter the names of the Senators that you want to compare
    %div.search
    %form
        %input{:type => "text", :placeholder => "Search for first member..."}
        %input{:type => "text", :placeholder => "Search for second member..."}
        %input{:type => "submit", class:"btn btn-submit"}