// %h1 Hi this is another form 
%section.memberStatsRecent
    %div.recentHeading
        Recent Actvity
    %div.filter
        Filter
    %ul.horizontalList.plus{data: { id: @member.id}}
        %li#statements Statements
        %li#bills Bills
        %li#votes Votes
        %li#twitter Twitter
    
    %section#activity  
