// %h1 Hi this is another form 
%section.memberStatsRecent
    %div.recentHeading
        Recent Actvity
    %div.filter
        Filter
    %ul.horizontalList.plus{data: { id: @member.id}}
        %li#statements
            Statments
        %li#bills
            Bills
        %li#votes
            Votes
        %li#twitter
            Twitter
        // %div.recentActivity#statments
        //     %svg{xmlns:'http://www.w3.org/2000/svg', width: 130, height: 130}
        //         %circle{cx:"10%", cy:"10%", r: "10%", stroke: "black", fill: "#abb9d1"}
        //     %label Statements
        // %div.recentActivity#Bills
        //     %svg{xmlns:'http://www.w3.org/2000/svg', width: 130, height: 130}
        //         %circle{cx:"10%", cy:"10%", r: "10%", stroke: "black", fill: "#abb9d1"}
        //     %label Bills
        // %div.recentActivity#Votes
        //     %svg{xmlns:'http://www.w3.org/2000/svg', width: 130, height: 130}
        //         %circle{cx:"10%", cy:"10%", r: "10%", stroke: "black", fill: "#abb9d1"}
        //     %label Votes
        // %div.recentActivity#Twitter
        //     %svg{xmlns:'http://www.w3.org/2000/svg', width: 130, height: 130}
        //         %circle{cx:"10%", cy:"10%", r: "10%", stroke: "black", fill: "#abb9d1"}
        //     %label Twitter   
    
    %section.activity
        %ul.activityList
        
