// %h1 Hi this is another form 
%section.memberStatsRecent
    %div.recentHeading
        Recent Actvity
    %div.filter
        Filter
    %ul.horizontalList.plus{data: { id: @member.id}}
        %li#statements
            %i.fa.fa-quote-right Statments
        %li#bills
            %i.fa.fa-file-text Bills
        %li#votes
            %i.fa.fa-check-circle Votes
        %li#twitter
            %i.fa.fa-twitter Twitter
    
    %section.activity
        %ul.activityList
        
