%header
    %h2.header Bill Categories
    
%div
    %ul.custom-bullets
        %li Agriculture and Food
        %li Animals
        %li Armed Forces and National Security        
        %li Arts, Culture, Religion       
        %li Civil Rights and Liberties, Minority        
        %li Commerce        
        %li Congress        
        %li Crime and Law Enforcement        
        %li Economics and Public Finance       
        %li Education       
        %li Emergency Management        
        %li Energy        
        %li Environmental Protection        
        %li Families        
        %li Finance and Financial Sector        
        %li Foreign Trade and International Finance        
        %li Government Operations and Politics        
        %li Health       
        %li Housing and Community Development       
        %li Immigration       
        %li International Affairs       
        %li Labor and Employment       
        %li Law       
        %li Native Americans        
        %li Private Legislation        
        %li Public Lands and Natural Resources        
        %li Science, Technology, Communications       
        %li Social Sciences and History        
        %li Social Welfare        
        %li Sports and Recreation        
        %li Taxation        
        %li Transportation and Public Works        
        %li Water Resources Development 
        
    