%div#bill
    %div.recentVotes
        =render 'recentVotes'
    %div.bill-categories    
        =render 'billCategories'
    
    
    %h2.header Recent Activity
    
    %table
    
        %tr.tableHeader
             
            %th.date Date 
            %th.title Title 
            %th.sponsor Sponsor 
            %th.status Latest Status
            
            
        -@bills.each do |bill|
                    
            %tr
            
                %td.date=bill.latest_major_action_date.strftime("%b. %d").upcase 
                %td=link_to bill.title, bill_path(bill.bill_id)
                %td
                    -if bill.govt_official != nil
                        %div{class: renderPartyColor(bill.govt_official.party)}
                        =bill.govt_official.first_name + " " + bill.govt_official.last_name
                    -else
                        Not Available
                %td=bill.latest_major_action