%table
    =render 'recentVotes'
        
    %tr.tableHeader
         
        %th.date Date 
        %th.title Title 
        %th.sponsor Sponsor 
        %th.status Latest Status
        
        
    -@bills.each do |bill|
                
        %tr
        
            %td=bill.latest_major_action_date
            %td=link_to bill.title, bill_path(bill.bill_id)
            %td
                -if bill.govt_official != nil
                    %div{class: renderPartyColor(bill.govt_official.party)}
                    =bill.govt_official.firstName + " " + bill.govt_official.lastName
                -else
                    Not Available
            %td=bill.latest_major_action