%table
    %tr.tableHeader
         
        %th Date 
        %th Title 
        %th Sponsor 
        %th Latest Status
        
    -@bills.each do |bill|
                
        %tr
        
            %td=bill.latest_major_action_date
            %td=bill.title
            %td=renderName(bill)
            %td=bill.latest_major_action