%div.container-fluid#bill
    %h1.indivTitle="#{@bill.bill_id}: #{@bill.title}"
    %div
        %section.billInfo.col-md-2
        
            %div.container-fluid
                =button_to "Read the bill", @bill.congressdotgov_url, class: 'read-bill btn btn-primary', form: {target: '_blank'}
                %table.bill-info
                    %th.description About this bill
                    %tr
                        %td
                            Introduced  
                            %br
                            =@bill.introduced_date
                    %tr
                        %td
                            Latest Major Date Action
                            %br
                            =@bill.latest_major_action_date
                    %tr 
                        %td
                            =link_to "See it on GovTrack", @bill.govtrack_url, target: '_blank'


        %section.billActions.col.md-8
            %h2 Bill Actions
            
            %table
                %tr.tableHeader
                    %th.date Date
                            
                    %th.description 
                        Description
                        %button.show-more.btn.btn-primary Show More 
                -@actions.each do |action|
                    %tr
                        %td.date=action.date.strftime("%b. %d").upcase 
                        %td=action.description
