// Place all the styles related to the bills controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$red: #c44231;
$blue: #2c59c1;
$orange: #e5be3d;
$fade: 000070;


.header{
    text-align: center;
    font-weight: bold;
    font-family: "Times New Roman";
    border-bottom: 0.5px solid #B9CED6;
    margin: 25px 0 35px 0;
}

// .bill-categories{
//     max-height: 500px;
//     overflow: scroll;
//     column-count: 4;
// }

.custom-bullets{
    column-count: 4;
    list-style-type: none;
    li::before{
        content: "- ";
    }
}

.indivTitle{
    text-align: left;
    font-weight: bold;
}

.read-bill{
    width: 143px;
    margin-left: 30px;
}

.key{
    display: inline;
}

.billInfo{
    width: 30%;
}

.billActions{
    width: 100%;
}


.yes, .no{
    display: inline-block;
}

.vote-key{
    width: 18px;
    color: #fff;
    text-align: center;
    font-weight: bold;
    display: inline-block;
}

.R.Yes{
   background: $red; 
}

.D.Yes{
    background: $blue;
}

.I.Yes{
    background: $orange;    
}


.R.No{
   background: $red + $fade; 
}

.D.No{
    background: $blue + $fade;
}

.I.No{
    background: $orange + $fade + 000030;    
}


.recent-bill-votes{
    margin: 20px 0 20px 0;    
}

.row{
    &.recent-bill-vote-boxes{
        width: 80%;
        margin: auto;
    }
}

th{

    &.date{
        text-align: center;
        width: 80px;
    }
    &.title{
        text-align: center;
    }
    &.sponsor{
        text-align: center;
    }
    &.status{
        text-align: center;
    }
    &.description{
        text-align: center;
    }
}

.single-bill-vote-box{
    border: 1px solid #c2d2ed;
    padding: 0 3px 0 3px;
    width: 30%;
    height: 300px;
    display: inline-block;
    box-shadow: 0 0 3px;
}

span{
    width: 100%;
    display: inline-block;
}

.yes-votes{
    .yes-dem{
        width: 30%;
        background-color: $blue;
    }
    .yes-repub{
        width: 30%;
        background-color: $red;
    }
    .yes-ind{
        width: 30%;
        background-color: $orange;
    }
}    

.show-more{
    float: right;
    margin-right: 5px;
    background-color: #163c7a;
    text-align: center;
}

