// Place all the styles related to the govtOfficial controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// ***doesn't actually fix the alignment... you have to do something else. 
.personalInfo{
    float: left;
    width: 20%;
    padding: 0;
}

.legislativeInfo{
    float: left;
    width: 80%;
    padding: 0;
}

.header{
    padding-top: 30px;
    h3, h4{
        padding-right: 20px;
        display: inline;
    }
}

// **This needs to be changed into something else....
// alignment is not correct
.electionYear{
    width: 180px;
}

.currentYear{
    background: #3ee059;
    color: #fff;
}
.laterYear{
    background: #db2929;
    color: #fff;
}   


.memberCard{
    float: left;
    margin-right: 30px;
    width: 250px;
    
    .memberImage{
        width: 250px;
        height: 350px;
    }
    .memberInfo{
        text-align: left;
        box-sizing: border-box;
        float: left;

        ul{
            margin: 0;
            border-style: solid;
            border-width: 0.5px;
            width: 250px;
            background: #d0d3d8;
        }
    }
    #compareButton{
        width: 250px;
    }
}

.memberStats{
    display: block;
    .memberStatsIntro{
        padding-top: 15px;
        margin-bottom: 15%;
    }
}


.horizontalList{
    list-style-type: none;
        li{
            display: inline-block; 
            margin-right: 120px;
        }
    .stat{
        font-size: 42px;
        font-family: "Times New Roman";
        color: #4599e8;
    }
}

.memberStatsRecent{
    .recentHeading{
        font-size: 30px;
        font-weight: bold;
        font-family: "Times New Roman";
    }
    
    .filter{
        line-height: 30px;
        height: 40px;
        color: #8694aa;
        border-top: 0.5px solid;
        border-bottom: 0.5px solid;
    }
    
    .plus{
        li{
            margin-right: 180px;    
        }
        display: inline-block;
        // overflow: scroll;
    }
}


.activityList{
    padding-top: 30px;
    list-style-type: none;
    margin-left: -30px;
    .listChildren{
        border-bottom: 0.5px solid #B9CED6;
    }
    .date{
        font-size: 15px;
        font-weight: bold;
    }
    .description{
        font-style: italic;
        color: #6e84a3;
    }
    
    .yes, .passed{
        color: #2add3f;
        font-style: italic;
        font-weight: bold;
    }
    
    .no, .failed{
        color: #db4818;
        font-style: italic;
        font-weight: bold;
    }
}

.votes{
    display: inline-block;
}


$statmentColor: #35a87c;
$billColor: #edbe40;
$voteColor: #3be557;
$twitterColor: #35d1f4;

.fa-quote-right:hover{
    color: #35a87c;
}

.fa-file-text:hover{
    color: #edbe40;
}

.fa-check-circle:hover{
    color: #3be557;
}

.fa.fa-twitter:hover{
    color: #35d1f4;
}
