%div.nav-buttons
    .navbar.navbar-default
        =link_to "Senate", chamber_senate_path(1), class: "active"
        // =link_to "House", chamber_house_path(@govtOfficials), class: ""
        =link_to "Bills", bills_path, class: "active"